# 1. Perulangan / Looping
Sintaks yang digunakan untuk menjalankan sebuah kode program secara berulang kali hingga step yang ditentukan

In [1]:
#SINTAKS FOR
# range (start,end,step)

for i in range(0,10,2):
    print(i,"=",i**2)

0 = 0
2 = 4
4 = 16
6 = 36
8 = 64

In [4]:
#SINTAKS WHILE
i = 0
while i<10:
    print(i)
    i = i + 1
    #kalau increment atau updating tidak ada yaitu i = i + 1, maka perulangan tidak akan berhenti yang kemudian disebut infinite looping
    #kalau ingin menghapus output klik (Cell---> current output---->clear)

0
1
2
3
4
5
6
7
8
9

# 2. List
Tipe data yang digunakan untuk menyimpan beberapa nilai dalam satu variabel

In [6]:
# Deklarasi List

#Dapat Berisi Angka
nilai = [30,40,50,60,70,80,90]
print(nilai)

#Dapat berisi String
peserta = ['Ani','Budi','Catra','Desi']
print(peserta)

#Dapat juga berisi campuran tipe data
campuran = ['Big',2.5, 90, 'Data']
print(campuran)

#jika bekerja dengan tipe data besar maka akan digunakan cara lain seperti sql database atau trik2 lain.
# dalam bahasa python , array itu adalah list

[30, 40, 50, 60, 70, 80, 90]
['Ani', 'Budi', 'Catra', 'Desi']
['Big', 2.5, 90, 'Data']

# 2.1 List Index
Untuk mengakses elemen tertentu di dalam list, kita dapat menggunakan list index. Index list dimulai dari 0. Index di dalam python juga dapat dibuat negatif, yang artinya index akan ditelusuri dari belakang

In [8]:
print(nilai[0])
print(nilai[4])
print(nilai[-1])
print(nilai[-3])

print(peserta[-2])

30
70
90
70
Catra

# 2.2 Menambah Elemen ke Dalam List

In [22]:
# cara menghapus del(nilai[-1])
# print(nilai)


nilai.append(40)
print(nilai)

[30, 40, 50, 60, 70, 80, 90, 40]

# 2.3 Slicing List
Slicing digunakan untuk memilih beberapa kelompok nilai dari list dengan memanfaatkan range index2.3 Slicing List
Slicing digunakan untuk memilih beberapa kelompok nilai dari list dengan memanfaatkan range index

In [26]:
# elemen ke 3 sampai ke 5 / indeks 2 sampai 4
print(nilai[2:5])

# elemen ke 1 sampai / indeks 0 sampai 3 (dari elemen pertama sampai ke 5 dari belakang)
print(nilai[:-5])

# indeks 5 sampai terakhir (dari elemen ke 5 sampai terakhir)
print(nilai[5:])

# semua indeks (dari awal sampai akhir)
print(nilai[:])

#  var[indeks awal:batas indeks dan tidak termasuk]

[50, 60, 70]
[30, 40, 50]
[80, 90, 40]
[30, 40, 50, 60, 70, 80, 90, 40]

# 2.4 Perulangan dalam List
Dalam mengakses setiap elemen dalam list, kita dapat menggunakan sintaks perulangan for yang telah kita pelajari sebelumnya

In [27]:
for n in nilai:
    print(n)

30
40
50
60
70
80
90
40

In [28]:
for n in nilai:
    print(n**2)

900
1600
2500
3600
4900
6400
8100
1600

In [30]:
# cara untuk mengikutkan indeks 
for i,n in enumerate(nilai):
    print(i,n)

0 30
1 40
2 50
3 60
4 70
5 80
6 90
7 40

# Contoh 
Berapakah rata rata nilai dari list tersebut?

In [35]:
# ALGORITMA RATA-RATA

#inisialisasi
total = 0

for n in nilai:
    total = total + n 
    
    # type casting : cara untuk memperlakukan n yang merupakan integer sebagai float yaitu " float(n)"
    #dalam python bisa dipersingkat dengan total += n
    
rata = total / len(nilai)
#len adalah size of list

print(rata)

57.5

# Lookup Nilai dalam List

In [34]:
n = 95
if n in nilai:
    print(n, "ada dalam list")
else:
    print(n, "tidak ada dalam list")

95 tidak ada dalam list

# 2.5 Latihan
Tampilkan Nilai dari list nilai yang Lebih dari sama dengan rata-ratanya

In [39]:
print("nilai yang lebih dari sama dengan rata rata adalah")
for n in nilai:
    if n >=rata:
        print(n)

nilai yang lebih dari sama dengan rata rata adalah
60
70
80
90

# 3. Tuple
Tuple merupakan tipe data yang mirip dengan list, namun berifat immutable atau tidak dapat ditambah dan diubah nilainya. Keuntungan dari penggunaan tuple adalah, pengaksesan datanya lebih cepat.

In [41]:
# Deklarasi Tuple
# Tuple biasa digunakan ketika ingin mengakses data secara lebih cepat

bulan = ("Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember")
print(bulan)

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

# 3.1 Akses Elemen dan Slicing
Konsep dalam melakukan akses elemen dan slicing sama persis dengan di list

In [42]:
print(bulan[0])
print(bulan[4])
print(bulan[-1])
print(bulan[-3])

Januari
Mei
Desember
Oktober

In [43]:
print(bulan[2:5])

print(bulan[:-5])

print(bulan[5:])

print(bulan[:])

('Maret', 'April', 'Mei')
('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli')
('Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')
('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

# 3.2 Perulangan dalam Tuple
Konsep perulangan juga sama dengan list

In [44]:
for b in bulan:
    print(b)

Januari
Februari
Maret
April
Mei
Juni
Juli
Agustus
September
Oktober
November
Desember

# # # Intinya adalah list bisa di updating, bisa di hapus namun tidak untuk tuple

# 4. Dictionary
Dictionary dalam Python berbeda dengan List ataupun Tuple. Karena setiap urutanya berisi key dan value. Setiap key dipisahkan dari value-nya oleh titik dua (:), item dipisahkan oleh koma, dan semuanya tertutup dalam kurung kurawal. Dictionary kosong tanpa barang ditulis hanya dengan dua kurung kurawal, seperti ini: {}.

Seperti map reduce yaitu Q-value

# 4.1 Membuat dan Mengakses Dictionary

In [46]:
# isi list juga dapat berupa dictionary (list of dictionary)

siswa = {'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
print(siswa)
print(siswa['Nama'])
print(siswa['Umur'])
print(siswa['JenisKelamin'])

{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
Budi
7
Laki-Laki

In [54]:
siswa2 = {'Nama': 'Ani', 'Umur': 5, 'JenisKelamin': 'Perempuan'}
print(siswa2)
print(siswa2['Nama'])
print(siswa2['Umur'])
print(siswa2['JenisKelamin'])

{'Nama': 'Ani', 'Umur': 5, 'JenisKelamin': 'Perempuan'}
Ani
5
Perempuan

In [48]:
list_siswa = []
list_siswa.append(siswa)
list_siswa.append(siswa2)
print(list_siswa[0])

{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}

In [49]:
print(list_siswa)

[{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}, {'Nama': 'Ani', 'Umur': 5, 'JenisKelamin': 'Perempuan'}]

# 4.2 Mengubah nilai Dictionary

In [55]:
siswa['Nama'] = 'Jundi'
print(siswa)

{'Nama': 'Jundi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}

# 4.3 Menambahkan Elemen

In [56]:
siswa['Alamat'] = "Jl. Kaliurang KM 5"
print(siswa)

{'Nama': 'Jundi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki', 'Alamat': 'Jl. Kaliurang KM 5'}

In [60]:
# List sebagai nilai dari elemen Dictionary
siswa["Nilai"] = nilai
print(siswa)


for n in siswa["Nilai"]:
    print (n)

{'Nama': 'Jundi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki', 'Alamat': 'Jl. Kaliurang KM 5', 'Nilai': [30, 40, 50, 60, 70, 80, 90, 40]}
30
40
50
60
70
80
90
40

In [62]:
for k,v in siswa.items():
    print(k,v)

Nama Jundi
Umur 7
JenisKelamin Laki-Laki
Alamat Jl. Kaliurang KM 5
Nilai [30, 40, 50, 60, 70, 80, 90, 40]

In [65]:
for l in list_siswa:
    print("========")
    for k,v in l.items():
        print(k,v)

========
Nama Jundi
Umur 7
JenisKelamin Laki-Laki
Alamat Jl. Kaliurang KM 5
Nilai [30, 40, 50, 60, 70, 80, 90, 40]
========
Nama Ani
Umur 5
JenisKelamin Perempuan

# 5. Operasi String
Pada pertemuan sebelumnya telah dijelaskan mengenai string. Dalam python cukup banyak operasi yang dikenakan pada string, yang akan berguna dalam analisis data.


berguna untuk sentimen analisis, teks analisis

# 5.1 Slicing dan Akses per Karakter

In [66]:
nama = "Tutorial Bahasa Pemrograman Python"
print(nama[0:6])
print(nama[20:30])

Tutori
ograman Py

In [69]:
for n in nama:
    print(n)  #spasi juga merupakan karakter

T
u
t
o
r
i
a
l

B
a
h
a
s
a

P
e
m
r
o
g
r
a
m
a
n

P
y
t
h
o
n

# 5.2 Merubah String menjadi list Kata
Menggunakan fungsi split. Fungsi split dapat diberikan parameter berupa karakter pemisahnya. Jika tidak diberikan parameter maka secara default, pemisahnya adalah spasi.

In [71]:
kata = nama.split()
print(kata)
print(kata[0])
print(kata[2])

paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
kalimat = paragraf.split(".") #dalam kurung merupakan parameter pemisah
print(kalimat)
print(kalimat[2])

['Tutorial', 'Bahasa', 'Pemrograman', 'Python']
Tutorial
Pemrograman
['Pada hari minggu kuturut ayah ke kota', ' Naik Delman istimewa kududuk di muka', ' Duduk disamping pak kusir yang sedang bekerja']
 Duduk disamping pak kusir yang sedang bekerja

In [75]:
for k in kalimat:
    print(k,k.split())

Pada hari minggu kuturut ayah ke kota ['Pada', 'hari', 'minggu', 'kuturut', 'ayah', 'ke', 'kota']
 Naik Delman istimewa kududuk di muka ['Naik', 'Delman', 'istimewa', 'kududuk', 'di', 'muka']
 Duduk disamping pak kusir yang sedang bekerja ['Duduk', 'disamping', 'pak', 'kusir', 'yang', 'sedang', 'bekerja']

# 5.3 Pencarian kata dalam String

In [77]:
cari = 'Python'
if cari in nama:
    print("Found!")
else:
    print("Not Found!")

Found!

In [78]:
cari = 'Pyton'
if cari in nama:
    print("Found!")
else:
    print("Not Found!")

Not Found!

# 5.4 Replace String

In [80]:
paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
paragraf = paragraf.replace('minggu','senin')
paragraf = paragraf.replace('ayah','ibu')
print(paragraf)

#dipakai ketika ingin menghilangkan atau mengganti jadi kalau ingin menghilangkan minggu dapat dirubah menjadi paragraf = paragraf.replace('minggu','')

Pada hari senin kuturut ibu ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja

# 5.5 Panjang String, Lowercase, Uppercase

In [81]:
print(len(nama))
print(nama.upper())
print(nama.lower())

34
TUTORIAL BAHASA PEMROGRAMAN PYTHON
tutorial bahasa pemrograman python

# Latihan 2

Diberikan sekumpulan Nilai Random antara 0 sampai dengan 100 sebanyak 250 nilai. Buatlah program untuk melakukan hal berikut:
Tampilkan Angka Ganjil dari ke 50 nilai tersebut
Tampilkan berapa banyak yang mendapatkan nilai lebih dari 70
Tampilkan standar deviasi dari sekumpulan nilai tersebut
Tampilkan nilai maksimum dan minimum
Tampilkan modus dari sekumpulan nilai tersebut